/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;

    background-image: url("images/restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;
}
.hero {
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: rgba(0,0,0,0.6);
}

.hero h1 {
    font-size: 4rem;
    color: #FFD700;
}

.hero p {
    font-size: 1.3rem;
    margin: 15px 0;
}

.btn {
    display: inline-block;
    padding: 14px 30px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.menu-section {
    padding: 60px 20px;
    text-align: center;
    background: rgba(0,0,0,0.7);
}

.menu-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #FFD700;
}

.menu-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-card {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    width: 250px;
    border-radius: 12px;
}

.menu-card h3 {
    color: #ff9800;
}

.menu-card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #FFD700;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
    background: rgba(0,0,0,0.85);
    z-index: 1000;
}

.logo {
    color: #FFD700;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #FFD700;
}
body {
    padding-top: 80px;
}

.order-section {
    max-width: 700px;
    margin: 60px auto;
    padding: 30px;

    background: rgba(0,0,0,0.7);
    border-radius: 15px;

    text-align: center;
}

.order-section h2 {
    color: #FFD700;
    margin-bottom: 20px;
}

.order-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-section input,
.order-section select {
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.order-section button {
    cursor: pointer;
}